
html{
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}
img{
  max-width: 100%;
}