.SkillContainer{
    position: relative;
}
.SkillBox{
    position: absolute;
    width: 30vw;
    height: 30vw;
    background-color: rgba(59, 170, 187, 0.6);
    border-radius: 50%;
}
.SkillBox1{
    top: 0;
    left: 15vw;
}
.SkillBox2{
    top: 0;
    right: 15vw;
}
.SkillBox3{
    top: 30vh;
    left: 25vw;
}