.container{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* 메인 부분 */
.Box{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name{
    text-align: center;
    font-size: 4vw;
    color: white;
    margin: 0 auto;
    text-shadow: -3px 3px 5px rgba(230, 230, 130, 0.5);
}


/* 서브페이지 1 */
.Sub1{
    width: 70%;
    height: 75%;
    padding: 2%;
    border: 6px double rgb(250, 250, 250);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.subox{
    width: 40%;
    height: 40%;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 10px;
}
.skillImg{
    width: 15%;
}

@media (max-width: 500px) {
    .Moon{
        width: 25vw;
        height: 25vw;
        top: 5vw;
        right: 5vw;
        box-shadow: inset 0px 0px 40px rgb(230, 230, 130),
                    -10px 10px 10px rgba(150, 150, 50, 0.5);
    }
    .name{
        font-size: 20vw;
    }
}