.Sub2{
    max-width: 75vw;
    max-height: 90vh;
}
.TopText{
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(250, 250, 150);
    text-shadow: -3px 3px 3px rgba(0, 0, 0, 1);
}
.TopText>p{
    margin: 0;
}
.Sub2Box{
    min-height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
}
/* Swiper */
.Sub2 .swiper {
    max-width: 45%;
    margin: 0;
}
.Sub2 .swiper-wrapper{
    align-items: center;
}
.Sub2 .swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.Sub2 .swiper-slide img {
    display: block;
    max-height: 40%;
    max-width: 60%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}
.Sub2 .swiper-button-prev{
    left: 0;
    color: yellow;
}
.Sub2 .swiper-button-next{
    right: 0;
    color: yellow;
}

.Sub2BoxInfo{
    width: 50%;
    height: 100px;
    border: 1px solid #fff;
}


@media (max-width:500px) {
    .Sub2Box{
        flex-direction: column;
    }
    .Sub2 .swiper {
        max-width: 50%;
    }
    .Sub2 .swiper-slide img {
        max-height: 40%;
        max-width: 100%;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
    }
    .Sub2 .swiper-button-prev{
        display: none;
    }
    .Sub2 .swiper-button-next{
        display: none;
    }
    .Sub2BoxInfo{
        width: 100%;
    }
}