.ShoppingContainer{
    min-height: 100vh;
    width: 100%;
    margin: 10vh auto 0;
}
.SHoppingBrick{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ShoppingSlider{
    max-width: 50%;
    background-color: rgba(59, 123, 187, 0.5);
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.ShoppingSwiper{
    padding: 30px;
    margin: 0 auto;
}
.ShoppingSwiper .swiper-wrapper{
    height: 70vh;
}
.ShoppingSwiper img{
    max-height: 60vh;
}
.ShoppingInfo{
    width: 30%;
    font-size: 1.5rem;
}